-keep class org.tensorflow.lite.** { *; }
-dontwarn org.tensorflow.lite.gpu.**
-dontwarn org.tensorflow.lite.support.**
-keep class io.flutter.plugins.** { *; }
-keep class com.baseflow.permissionhandler.** { *; }
