pyinstaller
fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
aiosqlite
celery[redis]
redis
ultralytics==8.3.0
onnxruntime
onnx
onnxslim
Pillow
opencv-python-headless
pyyaml
python-dotenv
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
websockets
httpx
aiofiles
jinja2
loguru
email-validator
